.padding{
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-center{
    text-align: center;
}
/*section three*/
.separation-learng{
    margin-bottom: 30px;

}
.separation-learng-2{
    margin-bottom: 30px;

}
.img-proyectos{
    height:363px;
    width: 587px;
    padding-bottom: 30px;


}
.border{
    border: 4px solid #1FD1AE;

}
.box-contact{
    background-color:#1FD1AE;
    height: auto;
    width: 100%;
        padding-top: 25px;
        padding-bottom: 5px;
    margin-bottom: 30px;
}
.box-inside{
    background-color:#FE7341;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    margin-left: 20%;
    height: 50%;
}
.marg-bottom{
    margin-bottom: 80px;
}
.padd-top-20{
    margin-top: 70px;
}